<!DOCTYPE html>
<html>
  <head>
    <title>Movietest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <button><%= link_to "Back", movies_path %></button>
  <button><%= link_to "Movies JSON", api_v1_movies_path %></button>


    <% if current_user %>
      <button><%= link_to "Favorite Movies", favmovies_path %></button>
      <button><%= link_to " Logout", destroy_user_session_path, :method => :delete , class: "destroy_user_session" %></button>
    <%else%>
      <button><%= link_to "Sign up", new_user_registration_path,  class: "new__user_registration" %></button>
      <button><%= link_to "Login", new_user_session_path,  class: "new_user_session" %></button>
  <% end %> 
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
